.Form {
  margin: 15% auto 0;
  max-width: 660px;
}

.Form form {
  text-align: center;
}

.Form input, .Form button {
  display: none; /* Temp */
}

.Form input {
  text-align: center;
}

.Form-analyses {
  margin: 30px auto 0;
}

.Form-analysis {
  height: 200px;
  width: 200px;
  background-color: #35393c;
  border: 2px solid #fff;
  position: relative;
  display: inline-block;
  margin: 10px;
  overflow: hidden;
}

.Form-analysis:hover {
  cursor: pointer;
}

.Form-analysis:hover::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  background: #fff;
}

.Form-analysis-img {
  position: absolute;
  left: -50%;
  height: 100%;
}

.Form-analysis-name {
  position: absolute;
  top: 5px;
  left: 5px;
}

.Form-analysis-info {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
